body{
    background-color: #ffe8d7;
}

.menu-section {
    text-align: center;
    padding: 60px 0;
  }
  .menu-section h2 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  .menu-section h2 span {
    color: #ff3c2e;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(0, 0, 0, 0.1);
  }
  .menu-card{
    border-radius: 30px
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .navbar{
    position: sticky;
    top: 0;
    z-index: 1030;
    border-radius: 50px; /* Bootstrap navbar z-index */
  }
  .card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }
 #home{
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .btn-primary{
    border-radius: 50px;
  }
  .btn-primary:hover{
    background-color: #ff3c2e;
  }
  .card-body{
    text-align: center;
  }
  .card-title{
    font-size: 2rem;
    font-weight: bold;
  }
